package-lock.json
.DS_Store

*.swp

# we want to include specific files inside node_modules and ignore the rest...

# unignore node_modules dir itself
!node_modules/
node_modules/*

!node_modules/d3/
node_modules/d3/*
!node_modules/d3/dist/
node_modules/d3/dist/*
!node_modules/d3/dist/d3.min.js

!node_modules/less/
node_modules/less/*
!node_modules/less/dist/
node_modules/less/dist/*
!node_modules/less/dist/less.min.js

!node_modules/jquery/
node_modules/jquery/*
!node_modules/jquery/dist/
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.min.js

!node_modules/bootstrap/
node_modules/bootstrap/*
!node_modules/bootstrap/dist/
node_modules/bootstrap/dist/*
!node_modules/bootstrap/dist/js/
node_modules/bootstrap/dist/js/*
!node_modules/bootstrap/dist/js/bootstrap.min.js
!node_modules/bootstrap/dist/css/
node_modules/bootstrap/dist/css/*
!node_modules/bootstrap/dist/css/bootstrap.min.css

!node_modules/uki/
node_modules/uki/*
!node_modules/uki/dist/
node_modules/uki/dist/*
!node_modules/uki/dist/uki.esm.js
