<div class="container bottom_border">
  <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Contact Us</h5>
      <!--headin5_amrc-->
      <p><i class="fa fa-location-arrow"></i> Tucson, AZ </p>
      <p><i class="fa fa-phone"></i> GPhone# here </p>
      <p><i class="fa fa fa-envelope"></i> hcw.hosted@gmail.com</p>


    </div>
    <div class=" col-sm-4 col-md  col-6 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Quick Links</h5>
      <!--headin5_amrc-->
      <ul class="footer_ul_amrc">
        <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">World Health Organization COVID-19 Official</a></li>                   
        <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/">Centers for Disease Control COVID-19 Official</a></li> 
        <li><a href="https://www.azdhs.gov/preparedness/epidemiology-disease-control/infectious-disease-epidemiology/index.php#novel-coronavirus-home">Arizona Department Public Health COVID-19 Information</a></li>
      </ul>
      <!--footer_ul_amrc ends here-->
    </div>


    <div class=" col-sm-4 col-md  col-6 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
      <!--headin5_amrc-->
      <ul class="footer_ul_amrc">
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
      </ul>
      <!--footer_ul_amrc ends here-->
    </div>

    <div class=" col-sm-4 col-md  col-12 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
      <!--headin5_amrc ends here-->

      <ul class="footer_ul2_amrc">
        <li><a href="https://twitter.com/hcwhosted"><i class="fab fa-twitter fleft padding-right"></i> </a>
          <p>Follow us on Twitter</p>
        </li>
      </ul>
      <!--footer_ul2_amrc ends here-->
    </div>
  </div>
</div>

<div class="container">
  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center">suggest website changes here: <a href="https://github.com/hcwhosted/hcwhosted.github.io">https://github.com/hcwhosted/</a>
    <ul class="social_footer_ul">
    </ul>
    <!--social_footer_ul ends here-->
  </p>
</div>
