<div class="container bottom_border">
  <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Contact Us</h5>
      <!--headin5_amrc-->
      <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
      <p><i class="fa fa-phone"></i> +91-9999878398 </p>
      <p><i class="fa fa fa-envelope"></i> healthcareworkershosted@gmail.com</p>


    </div>
    <div class=" col-sm-4 col-md  col-6 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
      <!--headin5_amrc-->
      <ul class="footer_ul_amrc">
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
      </ul>
      <!--footer_ul_amrc ends here-->
    </div>


    <div class=" col-sm-4 col-md  col-6 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
      <!--headin5_amrc-->
      <ul class="footer_ul_amrc">
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Lorem Ipsum</a></li>
      </ul>
      <!--footer_ul_amrc ends here-->
    </div>

    <div class=" col-sm-4 col-md  col-12 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
      <!--headin5_amrc ends here-->

      <ul class="footer_ul2_amrc">
        <li><a href="https://twitter.com/HostedHcw"><i class="fab fa-twitter fleft padding-right"></i> </a>
          <p>Lorem Ipsum is simply dummy text of the printing...<a href="https://twitter.com/HostedHcw">https://www.lipsum.com/</a>
          </p>
        </li>
        <li><a href="https://twitter.com/HostedHcw"><i class="fab fa-twitter fleft padding-right"></i> </a>
          <p>Lorem Ipsum is simply dummy text of the printing...<a href="https://twitter.com/HostedHcw">https://www.lipsum.com/</a>

          </p>
        </li>
      </ul>
      <!--footer_ul2_amrc ends here-->
    </div>
  </div>
</div>

<div class="container">
  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center">Copyright @2020
    <ul class="social_footer_ul">
    </ul>
    <!--social_footer_ul ends here-->
  </p>
</div>
