<div class="container bottom_border">
  <div class="row">
    <div class="col-md-4">
      <h5>Contact Us</h5>
      <ul>
        <li><a href="mailto:media@hcwhosted.org"><i class="fa fa-envelope"></i>media@hcwhosted.org</a></li>
        <li><a href="mailto:info@hcwhosted.org"><i class="fa fa-envelope"></i>info@hcwhosted.org</a></li>
        <!--<li><i class="fa fa-phone"></i> GPhone# here</li>-->
        <li><a href="https://github.com/hcwhosted/hcwhosted.github.io"><i class="fa fa-github"></i>Website Suggestions</a></li>
        <li><i class="fa fa-location-arrow"></i> Tucson, AZ</li>
      </ul>
    </div>

    <div class="col-md-4 col-left">
      <h5>Quick Links</h5>
      <ul>
        <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO COVID-19 Official</a></li>
        <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/">CDC COVID-19 Official</a></li>
        <li><a href="https://www.azdhs.gov/preparedness/epidemiology-disease-control/infectious-disease-epidemiology/covid-19/dashboards/index.php">Arizona COVID-19 Dashboard</a></li>
      </ul>
    </div>

    <div class="col-md-4 col-left">
      <h5>Follow Us</h5>
      <ul>
        <li><a href="https://twitter.com/hcwhosted"><i class="fa fa-twitter"></i>Twitter</a></li>
        <li><a href="https://www.facebook.com/hcwhosted"><i class="fa fa-facebook"></i>Facebook</a></li>
        <!-- taking out the gram for now-->
        <!--<li><a href="https://www.instagram.com/hcw.hosted/"><i class="fa fa-instagram"></i>Instagram</a></li>-->
      </ul>
    </div>
  </div>
</div>
<div class="container license">
  <i class="fa fa-creative-commons fcenter padding-right" aria-hidden="true"></i>Content on this site is under the <a href="https://creativecommons.org/publicdomain/zero/1.0/" style="text-decoration:underline;">Creative Commons Zero v1.0 Universal</a> license.
</div>
