<h1>COVID-19 Quarantine Stages</h1>
<div class="row">
  <div class="selected col" align="center" data-stage="0">
    <a class="btn btn-outline-primary" role="button">I am in</a>
    <i class="fas fa-ban fa-4x"></i>
    <h3>Stage 0</h3>
    <p>Not quarantined; currently living, commuting from home</p>
  </div>
  <div class="col" align="center" data-stage="1">
    <a class="btn btn-outline-primary" role="button">I am in</a>
    <i class="fas fa-hospital-user fa-4x"></i>
    <h3>Stage 1</h3>
    <p>Living in quarantine, asymptomatic and working</p>
  </div>
  <div class="col" align="center" data-stage="2">
    <a class="btn btn-outline-primary" role="button">I am in</a>
    <i class="fas fa-vial fa-4x"></i>
    <h3>Stage 2</h3>
    <p>Symptomatic, with testing pending</p>
  </div>
  <div class="col" align="center" data-stage="3">
    <a class="btn btn-outline-primary" role="button">I am in</a>
    <i class="fas fa-viruses fa-4x"></i>
    <h3>Stage 3</h3>
    <p>Positive COVID-19 test; not working</p>
  </div>
  <div class="col" align="center" data-stage="4">
    <a class="btn btn-outline-primary" role="button">I am in</a>
    <i class="fas fa-mug-hot fa-4x"></i>
    <h3>Stage 4</h3>
    <p>Post-tour of duty quarantine; awaiting re-entry into home</p>
  </div>
</div>
<div class="stageGuidance"></div>
