<h1>COVID-19 Cohorted Voluntary Self Quarantine</h1>

<p>
    "This guideline applies to frontline healthcare workers (doctors, nurses,
    med techs, respiratory therapists, radiology techs, and others) who are in
    front-line emergency medicine roles, working and living in direct contact
    with COVID-19 patients, and are planning to self-quarantine for the safety
    of their loved ones."
</p>

<p>
    Please refer to this site frequently for general info/links, enrollment, and
    instructive visualizations.
</p>
